*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  //what 1 rem is its defines
  /* used for rem sizes 10/16 = will resize by browser its best*/
}

body {
  box-sizing: border-box;
}
